<div class="nested-fields">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </div>
  <%= link_to_remove_association "eliminar provincia", f %>
  <hr>
</div>

